/* Loader container */
.bigwig-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust height based on where it's used */
  }
  
  /* Circular background with updated color */
  .bigwig-circle {
    width: 70px;
    height: 70px;
    background-color: #343474; /* Updated color */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  /* AI text styling */
  .bigwig-ai-text {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    display: flex;
    gap: 0.2rem;  /* Text shadow for better visibility */
  }
  
  /* Rotate cube animation */
  @keyframes rotateCube {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  
  
  
  .loader-cube .bigwig-circle {
    width: 50px;
    height: 50px;
    animation: rotateCube 2s infinite linear; /* Rotating effect */
  }
  
  
  
  
  